# Core
POSTGRES_USER=clio
POSTGRES_PASSWORD=changeme
POSTGRES_DB=redteamlogger
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSL=true
REDIS_PASSWORD=changeme
REDIS_SSL=true
REDIS_ENCRYPTION_KEY=
JWT_SECRET=
ADMIN_PASSWORD=changeme
USER_PASSWORD=changeme
ADMIN_SECRET=
FIELD_ENCRYPTION_KEY=
SERVER_INSTANCE_ID=
PORT=3001
NODE_ENV=development
FRONTEND_URL=https://localhost
HOSTNAME=localhost
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://localhost:3000/api/auth/google/callback
LETSENCRYPT_CERT_PATH=
LETSENCRYPT_KEY_PATH=
